body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(19, 93, 70);
    background-image: 
    linear-gradient(0deg, rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 50px 50px;
    color: white;
    height: 100%;
    font-family: 'VT323';
    image-rendering: pixelated;
    font-size: 30px;
}

main{
    margin: 7vw 15vw;
}

 /* form-start */
.container {
    border: solid 2px #222;
    padding: 16px;
    margin-bottom: 1rem;
    background-color: #f8f4e3;
    color: #135d46;
    box-shadow: 6px 6px 0px  #000;
    image-rendering: pixelated;
    text-align: center;
}

.main-form {
    text-align: left;
}

.form-control{
    width: 101%;
    padding: 7px;
    display: block;
    box-sizing: border-box;
    font-family: 'VT323';
}

.button-form {
    background-color: #429d80;
}

.button-form:hover {
    background-color: #35856b;
}

.form-group {
    margin-bottom: 1.5rem;
}
/* form-ennd */

/* card-start */
.card-container {
    max-height: 22rem;
    overflow-y: auto;
}

.card {
    display: block;
    box-sizing: border-box;
    text-align: left;
    border: 2px solid #064e3b;
    padding: 6px;
    margin-bottom: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.card:hover {
    box-shadow: 0px 6px 0px  #F7C893;
}

.main-card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.main-card aside {
    flex-grow: 1;
}

.card-content {
    margin: 8px 3px;
    display: block;
}

.card-desc {
    margin-left: 0;
}

.checkbox {
    cursor: pointer;
    align-self: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

.card-button-delete {
    width: 100%;
    background-color: #dc2626;
    font-family: 'VT323';
}
.card-button-delete:hover {
    background-color: #b91c1c;
}
/* card-end */

@media only screen and (max-width: 600px) {
    main {
        margin: 10vw 8vw;
    }

    .card-container {
        max-height: 25rem;
    }
}